/* Style Settings */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --transition-time: 1s;
  --transition-color: #ffff;
  --font: 'Ubuntu', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: linear-gradient(#283618, #172b00, #070e00);
}

#userPhoto {
  width: 100px;
  height: 100px;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
  border-radius: 175px;
  box-shadow:  -34px -34px 46px #314f11,
             34px 34px 46px #1e2416;
}

#userName {
  color: #fff;
  display: block;
  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#userName h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

#userName p {
  font-weight: 300;
  margin-top: 5px;
  text-transform: none;
}

i.fa {
  margin-right: 0.3rem;
}

#links {
  max-width: 500px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.link {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding: 17px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
  transition: all .4s cubic-bezier(.455,.03,.515,.955);
  border-radius: 73px;
  background: linear-gradient(145deg, #122500, #667a1d);
  box-shadow:
  4px 4px 8.2px rgba(0, 0, 0, 0.043),
  10.2px 10.2px 20.8px rgba(0, 0, 0, 0.062),
  20.7px 20.7px 42.5px rgba(0, 0, 0, 0.078),
  42.7px 42.7px 87.6px rgba(0, 0, 0, 0.097),
  117px 117px 240px rgba(0, 0, 0, 0.14)
;

}

.link:hover {
  color: rgb(124, 70, 0);
  border: none;
}

.tracking-in-expand {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}